.avatar { 
  width: 120px;
  height: 120px;
}

strong {
  font-size: x-large;
}

figure {
  float: left;
}

figcaption {
  float: right;
  font-size: 15px;
  text-align: start;
  margin-top: 30px;
  display: flex;
}

.profile-wrapper {
  width: 100%;
  height: 120px;
}

.responsive-textarea {
  width: 60vw;
}

.no-border {
  resize: none;
  border: none;
  overflow: hidden;
}

.no-select {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.no-select:focus {
  outline: none;
}

@media (min-width: 992px) { 
  .avatar { 
    width: 300px;
    height: 300px;
  }

  figcaption {
    float: none;
    text-align: center;
    margin-top: 0px;
  }
  
  .profile-wrapper {
    height: 0px;
  }

  .responsive-textarea {
    text-align: center;
    width: 250px;
    height: 200px;
  }
}