.nav-tabs > .active {
  text-decoration: none;
  font-weight: bold;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-radius:0px;
  border-bottom-width: 4px !important;
  border-bottom-style: solid;
  border-bottom-color: #FF6600 !important;
  color: #000 !important;
  background-color: transparent !important;
}

.nav-tabs > a:hover {
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.nav-tabs > a {
  border-radius:0px;
  font-size: 18px;
}

.nav-item {
  text-align: center;
  width: 150px;
}

.badge {
  color: black;
  background-color: gainsboro;
}
