.font-small {
  font-size: small
}

.small-gray {
  color: gray;
  font-size: small;
}

.vertical-align {
  vertical-align: middle;
}

.list-group li:nth-child(1){
  border-top: 0 none;
}

.d-inline {
  margin: 0px;
  padding: 0px;
}

.large-font {
  font-size: x-large;
}